* {
    background-color: black;
    font-family: 'Calibri', sans-serif;
}

h1, h2 {
    font-family: "Ga Maamli", sans-serif;
    color: #f46f08;
}

p, li {
    font-family: "Tilt Neon", sans-serif;
    color: #a4c320;
}